.profile__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: none;
    background-image: url(/src/images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profile__image:hover .profile__overlay {
    display: block;
}